.canvas {
    background-color: black;
    width: 640px;
    height: 650px;
    padding: 10px;
    z-index: 9999;
}

.z-index{
    z-index: 1000;
}

.buttons-container{
    z-index: 1000;
    margin-top: 25px;
}

.container-list {
    z-index: 9998;
    display: inline-block;
    width: 225px;
    height: 450px;
    border: 1px solid #ccc;
    position: absolute;
}

/* .container-list:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to top, rgba(255,255,255,0), #fff);
    pointer-events: none;
} */

.container-list:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff);
    pointer-events: none;
}

.leaderboard {
    background-color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 450px;
    overflow: hidden;
    overflow-y: auto;
}

.leaderboard::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

.leaderboard::-webkit-scrollbar-thumb {
    background: #ccc;
}

.leaderboard li {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.leaderboard li:last-child {
    border-bottom: none;
}

.canvas-wrapper{
    width: 780px;
}